Source: txfixtures
Maintainer: Launchpad Engineering Team <launchpad-dev@lists.launchpad.net>
Uploaders: Tushar Gupta <tushar.gupta@canonical.com>
Section: python
Priority: optional
Build-Depends: dh-python,
               debhelper (>= 9),
               python3-all,
               python3-setuptools,
               python3-fixtures,
               python3-testtools,
               python3-twisted,
	       python3-systemfixtures (>= 0.6.2),
	       python3-psutil,
	       python3-selenium,
	       procps,
Standards-Version: 3.9.8
Homepage: https://launchpad.net/txfixtures
Vcs-Browser: https://github.com/canonical/txfixtures
Vcs-Git: https://github.com/canonical/txfixtures.git

Package: python3-txfixtures
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Twisted integration with Python test fixtures
 The txfixtures package hooks into the Python testtools "test fixture"
 interface, allowing you to write integration tests that rely on having
 external Twisted service processes (or other types of service processes or
 external resources in general) and possibly interact with them using
 blocking APIs from test cases, that will run asynchronously in the
 background.
 .
 This package provides the Python 3.x modules.
