---
    name: CI
    on:
      - push
      - pull_request
    jobs:
      test:
        name: Run unit tests
        runs-on: ubuntu-latest
        strategy:
          matrix:
            python: ["3.8"]
        steps:
          - name: Checkout source code
            uses: actions/checkout@v4
            with:
              fetch-depth: 0
          - name: Set up Python ${{ matrix.python }}
            uses: actions/setup-python@v5
            with:
              python-version: ${{ matrix.python }}
          - name: Install dependencies
            run: python -m pip install tox
          - name: Run unit tests (via tox)
            # Run tox using the version of Python in `PATH`
            run: tox -e py
